/vendor/
/inputs/
/build/
/.build/
/toolchains/
__pycache__/
.ruff_cache/
*.py[cod]
*.bin
*.dfu
!/usb-helper/tests/fixtures/upload.dfu
*.elf
*.o
*.ipod
*.ipsw
*.pe32
*.gpr
*.rep/
.DS_Store
/ghidra/project/
*.bytes
